<header>
  <div class="container d-flex justify-content-between align-items-center">
    <nav class="nav">
      <a class="nav-link" href="#"><img src="https://barra.globo.com/gl/ba/oidc/img/logo.png" alt=""></a>
      <a target="_top" href="https://g1.globo.com" accesskey="n" class="barra-item-noticias">g1</a>
      <a target="_top" href="https://globoesporte.globo.com" accesskey="e" class="barra-item-esportes no-show small">ge</a>
      <a target="_top" href="https://gshow.globo.com" accesskey="i" class="barra-item-gshow">gshow</a>
      <a target="_top" href="https://globoplay.globo.com" accesskey="v" class="barra-item-videos">globoplay</a>
    </nav>

    <div class="left">
      <span class="px-2">assine já</span>
      <button class="btn">Entrar</button>
    </div>
  </div>
</header>
