
.container-gshow{
  margin: auto;
  width: 67%;
}

.bg-roxo{
  background-color: #5001B3 !important;
}

.header-navegacao .menu-label {
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 14px;
  color: #fff;
  margin-left: 27px;
}

.menu-divisor{
  display: inline-block;
    position: absolute;
    height: 20px;
    width: 1px;
    top: 50%;
    margin-top: -10px;
    margin-left: 19px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8) 33%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 1px 3px;
    background-repeat: repeat-y;
}

.logo-area {
  margin-left: 92px;
  padding-left: 20px;
}

.logo-area {
  margin-left: 36px;
  border: 0;
}

.header-navegacao.header-editoria .logo-area {
  left: 0.75rem;
  position: absolute;
  top: 0;
  height: 100%;
}

.logo-area {
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
}

.logo svg {
  fill: currentColor;
}

.logo {
  width: 99px;
  height: 31px;
}

.logo {
  font-weight: var(--font-weight-bold);
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.header-navegacao .header-title {
  padding: 0 211px;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.header-title a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px) {
  .search-xxl{
    display: none !important;
  }

  .menu-label{
    display: none !important;
  }
}
